/*Hoja de estilos princial
*/
/* 
    Created on : 18-sep-2015, 15:49:44
    Author     : Ricardo Presilla
*/
/**Para el contenedor*/
.container{
    background-color: #FDFDFD; 
    height: 100%;
    width: 100%;    
    min-height: 50%;
    min-width: 1180px;
    position: relative;
    margin-left: auto; 
    margin-right: auto;
    z-index: 0;
}
/*Encabezado de la pagina*/
.encabezado{
    background-color: #FFFFFF;
    height: 208px;
    width: 100%;
    top: 0%;
    margin: 0%;
    padding: 0%;
    position: absolute;
    min-height: 80px;
    overflow: hidden;
    opacity: 1;
    z-index: 1;
}
/**Para la barra azul*/
.barra{
    background-color: #001A55;
    height: 4px;
    width: 100%;
    min-width: 1180px;
    top: 208px;
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 1;
}
/**Para la barra dorada*/
.barra2{
    background-color: #EFCD09;
    height: 6px;
    width: 100%;
    min-width: 1180px;
    top: 217px;
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 1;
}
/**Para el logo*/
.logo{
    background-image: url(../img/logo3.png);
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    top: 0px;
    left: 0px;
    width: 590px;
    height: 207px;
    position: absolute;
    min-width: 116px;
    min-height: 99px;
    vertical-align: middle;
    z-index: 2;    
}
/*Para el membrete*/
.membrete{
    color: #001A55;
    text-align: center;
    font-family: "MoolBoran Regular", sans-serif;
    font-size: 48px;
    height: 208px;
    width: 690px;
    left: 147px;
    top: 95px;
    position: absolute;
    z-index: 2;
}
/*Para el membrete*/
.membrete1{
    color: #001A55;
    text-align: center;
    font-family: "MoolBoran Regular", sans-serif;
    font-size: 36px;
    height: 208px;
    width: 690px;
    left: 147px;
    top: 65px;
    position: absolute;
    z-index: 2;
}
/**/
body{
    overflow-x: hidden;
}
/**Cuerpo de la pagina*/
main{
    background-color: #FDFDFD;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    width: 100%; 
    min-width: 1024px;
}
/*Pie de página del desarrollador*/
.pie{
    width: 100%;
    min-width: 1180px;
    max-width: 100%;
    height: 88px;
    top: 690px;
    bottom: 0px;
    position: absolute;
    background-image: url(../img/pie2.png);
    background-repeat: repeat-x;
    overflow: no-display;
    z-index: 2;
}
.pie2{
    background-color: #E4E4E4;
    width: 100%;
    min-width: 1180px;
    height: 88px;
    top: 690px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url(../img/pie2.png);
    background-repeat: repeat-x;
    overflow-x: hidden;
    z-index: 1;
}
.logo2{
    width: 149px;
    height: 81px;
    top: 697px;
    left: calc(50% - 75px);
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-image: url(../img/pie.png);
    background-repeat: no-repeat;
    z-index: 3;
}
/**Para los resultados de la busqueda*/
.logo3{
    width: 149px;
    height: 81px;
    top: 697px;
    left: 515px;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-image: url(../img/pie.png);
    background-repeat: no-repeat;
    z-index: 3;
}
/**Para la capa del login*/
.capaLogin{
    width: 763px;
    height: 158px;
    position: absolute;
    top: 302px;
    left: calc(50% - 381px);
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/formulario.png);
    background-repeat: no-repeat;
    z-index: 1;
}
/***/
.bienvenida{
    position: absolute;
    top: 23px;
    left: 304px;
    color: #000000;
    text-align: center;
    font-family: HelveticaBlack, "Helvetica LT Std";
    font-size: 12px;
}
/**Para la clave del login*/
.clave{
    float: left;
    position: absolute;
    top: 72px;
    left: 248px;
    width: 258px;
    height: 26px;
}
/**Para el boton de aceptar*/
.botonAceptar{
    float: left;
    position: absolute;
    top: 72px;
    left: 544px;
    width: 123px;
    height: 27px;
}
/**Para el error del login*/
.errorLogin{
    width: 590px;
    height: 190px;
    position: absolute;
    top: 307px;
    left: calc(50% - 290px);
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-style: solid;
    border-color: #FFFFFF;
    background-image: url(../img/errorLogin.png);
    background-repeat: no-repeat;
    z-index: 1;
    -webkit-box-shadow: 0px 2px #C7C7C7;
    box-shadow: 0px 2px #C7C7C7;
}
/**Para el enlace de salida del error login*/
.enlace1{
    position: absolute;
    top: 104px;
    left: 360px;
}
/**Para el cambio de clave*/
.cambioClave{
    width: 507px;
    height: 301px;
    position: absolute;
    top: 307px;
    left: calc(50% - 253px);
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/CambioClave-Profesor.png);
    background-repeat: no-repeat;
    z-index: 1;
}
/***/
.cAnterior{
    position: absolute;
    top: 82px;
    left: 119px;
    width: 258px;
    height: 25px;
}
/***/
.cNueva{
    position: absolute;
    top: 131px;
    left: 119px;
    width: 258px;
    height: 25px;
}
/***/
.cConfirmar{
    position: absolute;
    top: 182px;
    left: 119px;
    width: 258px;
    height: 25px;
}
/**Para el boton de aceptar*/
.botonAceptar2{
    float: left;
    position: absolute;
    top: 239px;
    right: 27px;
    width: 123px;
    height: 27px;
}
/**Para el titulo del cambio de clave*/
.texto1{
    position: absolute;
    top: 15px;
    left: 168px;
    color: #000000;
    text-align: center;
    font-family: HelveticaBlack, "Helvetica LT Std";
    font-size: 14px;
}
/**Para la primera linea de texto*/
.texto2{
    position: absolute;
    top: 62px;
    left: 120px;
    color: #000000;
    text-align: center;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Para la segunda linea de texto*/
.texto3{
    position: absolute;
    top: 114px;
    left: 120px;
    color: #000000;
    text-align: center;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Para la tercera linea de texto*/
.texto4{
    position: absolute;
    top: 165px;
    left: 120px;
    color: #000000;
    text-align: center;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Para el error de la base de datos*/
.errorBaseDatos{
    width: 590px;
    height: 190px;
    position: absolute;
    top: 307px;
    left: calc(50% - 290px);
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #FFFFFF;
    background-image: url(../img/errorLogin.png);
    background-repeat: no-repeat;
    z-index: 1;
    -webkit-box-shadow: 0px 2px #C7C7C7;
    box-shadow: 0px 2px #C7C7C7;
}
/**Para el ingreso de la cedula*/
.ingresarCedula{
    width: 751px;
    height: 144px;
    position: absolute;
    top: 307px;
    left: calc(50% - 375px);
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-style: solid;
    border-color: #FFFFFF;
    background-image: url(../img/ingresarCI.png);
    background-repeat: no-repeat;
    z-index: 1;
    -webkit-box-shadow: 0px 2px #C7C7C7;
    box-shadow: 0px 2px #C7C7C7;
}
/**Fuente personalizada para el texto*/
@font-face {
    font-family: HelveticaBlack;
    src: url('../fonts/HelveticaLTStd-Blk.otf');
}
@font-face {
    font-family: HelveticaCondensada;
    src: url('../fonts/HelveticaLTStd-Cond.otf'); 
}
@font-face {
    font-family: HelveticaNegrita;
    src: url('../fonts/HelveticaLTStd-Bold.otf'); 
}
/**Para la carga de datos*/
.capaDatos{
    position: absolute;
    top: 223px;
    left: 0px;
    width: 100%;
    color: #000000;
    text-align: right;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
.capaNombre{
    position: absolute;
    top: 90px;
    left: calc(50% - 297px); /*236px;*/
}
.capaApellido{
    position: absolute;
    top: 90px;
    left: calc(50% + 99px);/*left: 689px;*/
}
.capaCedula{
    position: absolute;
    top: 139px;
    right: calc(50% + 252px); /*236px;*/
}
.capaDireccion{
    position: absolute;
    top: 139px;
    left: calc(50% + 93px);/*left: 683px;*/
}
.capaTelefono{
    position: absolute;
    top: 189px;
    right: calc(50% + 250px); /*230px;*/
}
.capaEmail{
    position: absolute;
    top: 189px;
    left: calc(50% + 116px);/*left: 705px;*/
}
.capaFechaNacimiento{
    position: absolute;
    top: 241px;
    right: calc(50% + 252px); /*165px;*/
}
.capaLugarNacimiento{
    position: absolute;
    top: 241px;
    left: calc(50% + 20px);/*left: 612px;*/
    width: 130px;
}
.capaLugarTrabajo{
    position: absolute;
    top: 291px;
    right: calc(50% + 252px); /*189px;*/
}
.capaCargo{
    position: absolute;
    top: 291px;
    left: calc(50% + 116px);/*left: 705px;*/
}
.capaFoto{
    position: absolute;
    top: 343px;
    right: calc(50% + 252px); /*215px;*/
}
/**Para indicar el asterisco rojo*/
.capaNecesario{
    color: #ff0000;
    position: absolute;
    top: 90px;
    right: calc(50% - 35px); /*left: 566px;*/
    font-weight: bold;
}
.capaNecesario2{
    color: #ff0000;
    position: absolute;
    top: 90px;
    left: calc(50% + 438px);/*left: 1025px;*/
    font-weight: bold;
}
.capaNecesario3{
    color: #ff0000;
    position: absolute;
    top: 139px;
    right: calc(50% - 35px); /*left: 566px;*/
    font-weight: bold;
}
.capaNecesario4{
    color: #ff0000;
    position: absolute;
    top: 139px;
    left: calc(50% + 438px);/*left: 1025px;*/
    font-weight: bold;
}
.capaNecesario5{
    color: #ff0000;
    position: absolute;
    top: 189px;
    right: calc(50% - 35px); /*left: 566px;*/
    font-weight: bold;
}
.capaNecesario6{
    color: #ff0000;
    position: absolute;
    top: 189px;
    left: calc(50% + 438px);/*left: 1025px;*/
    font-weight: bold;
}
.capaNecesario7{
    color: #ff0000;
    position: absolute;
    top: 291px;
    right: calc(50% - 35px); /*left: 566px;*/
    font-weight: bold;
}
.capaNecesario8{
    color: #ff0000;
    position: absolute;
    top: 291px;
    left: calc(50% + 438px);/*left: 1025px;*/
    font-weight: bold;
}
.capaNecesario9{
    color: #ff0000;
    position: absolute;
    top: 343px;
    right: calc(50% - 35px); /*left: 566px;*/
    font-weight: bold;
}
/**Para las cajas de texto*/
.tNombre{
    position: absolute;
    top: 83px;
    right: calc(50% - 27px);
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}
.tApellido{
    position: absolute;
    top: 83px;
    left: calc(50% + 176px);/*left: 766px;*/
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}
.tCedula{
    position: absolute;
    top: 135px;
    right: calc(50% - 27px);
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}
/**Para la cedula anterior en la modificación de los datos*/
.tCedulaAnterior{
    position: absolute;
    top: 135px;
    left: 306px;
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
    display: none;
}
.tDireccion{
    position: absolute;
    top: 135px;
    left: calc(50% + 176px);/*left: 766px;*/
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}
.tTelefono{
    position: absolute;
    top: 186px;
    right: calc(50% - 27px);
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}
.tEmail{
    position: absolute;
    top: 186px;
    left: calc(50% + 176px);/*left: 766px;*/
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}
.tFechaNacimiento{
    position: absolute;
    top: 237px;
    right: calc(50% - 27px);
    width: 208px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
    display: none;
}
.tFecha{
    position: absolute;
    top: 237px;
    right: calc(50% + 4px);
    width: 226px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
    display: block;
    color: #000000;
    text-align: justify;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
.tLugarNacimiento{
    position: absolute;
    top: 237px;
    left: calc(50% + 176px);/*left: 766px;*/
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}
.tLugarTrabajo{
    position: absolute;
    top: 288px;
    right: calc(50% - 27px);
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}
.tCargo{
    position: absolute;
    top: 288px;
    left: calc(50% + 176px);/*left: 766px;*/
    width: 258px;
    height: 25px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
}
.tFoto{
    position: absolute;
    top: 336px;
    right: calc(50% - 27px);
    width: 258px;
    height: 26px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
    display: block;
    visibility: visible;
    overflow: hidden;
}
/**Para el boton de aceptar en cargar datos*/
.BAceptarDatos{
    float: left;
    position: absolute;
    top: 374px;
    left: calc(50% + 300px);
    width: 123px;
    height: 27px;
}
/**Para el resumen de los datos del estudiante*/
.mostrarDatos{
    position: absolute;
    top: 223px;
    left: 0px;
    width: 100%;
    color: #000000;
    text-align: right;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Capa de la foto*/
.mostrarFoto{
    position: absolute;
    top: 25px;
    left: calc(50% - 524px);
    width: 154px;
    height: 167px;
    border: 1px;
    border-color: #000000;
    border-style: solid;
}
/**Capa del nombre*/
.mostrarNombre{
    position: absolute;
    top: 54px;
    left: calc(50% - 348px);
    width: 349px;
    height: 50px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 24px;
}
/**Capa de la cedula*/
.mostrarCedula{
    position: absolute;
    top: 108px;
    left: calc(50% - 348px);
    width: 349px;
    height: 50px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 18px;
}
/**Capa del telefono*/
.mostrarTelefono{
    position: absolute;
    top: 137px;
    left: calc(50% - 348px);
    width: 349px;
    height: 50px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 18px;
}
/**Separador vertical*/
.barra3{
    position: absolute;
    top: 223px;
    left: calc(50% - 524px);
    width: calc(100% - 132px);
    height: 25px;
    color: #000000;
    text-align: left;
    font-family: "Myriad Pro Regular", HelveticaNegrita;
    font-size: 18px;
    overflow: hidden;
}
/**Capa del telefono, con letra 14*/
.mostrarTelefono2{
    position: absolute;
    top: 260px;
    left: calc(50% - 524px);
    width: 349px;
    height: 26px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Texto en negro, con letra 14*/
.texto5{
    position: absolute;
    top: -1px;
    left: 70px; 
    color: #000000;
    text-align: justify;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Texto en negro, con letra 14*/
.texto6{
    position: absolute;
    top: -1px;
    left: 48px; 
    color: #000000;
    text-align: justify;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Texto en negro, con letra 14*/
.texto7{
    position: absolute;
    top: -1px;
    left: 141px; 
    color: #000000;
    text-align: justify;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Texto en negro para el lugar de nacimiento, con letra 14*/
.texto8{
    position: absolute;
    top: -1px;
    left: 145px; 
    color: #000000;
    text-align: justify;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Texto en negro para el lugar de trabajo, con letra 14*/
.texto9{
    position: absolute;
    top: -1px;
    left: 128px; 
    color: #000000;
    text-align: justify;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Texto en negro para el lugar de nacimiento, con letra 14*/
.texto10{
    position: absolute;
    top: -1px;
    left: 50px; 
    color: #000000;
    text-align: justify;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
.mostrarFechaNacimiento{
    position: absolute;
    top: 309px;
    left: calc(50% - 524px);
    width: 349px;
    height: 26px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
.mostrarLugarTrabajo{
    position: absolute;
    top: 361px;
    left: calc(50% - 524px);
    width: 349px;
    height: 26px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
.mostrarDireccion{
    position: absolute;
    top: 137px;
    left: 50%;
    width: 349px;
    height: 26px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
.mostrarEmail{
    position: absolute;
    top: 260px;
    left: 50%;
    width: 349px;
    height: 26px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
.mostrarLugarNacimiento{
    position: absolute;
    top: 309px;
    left:50%;
    width: 349px;
    height: 26px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
.mostrarCargo{
    position: absolute;
    top: 361px;
    left: 50%;
    width: 349px;
    height: 26px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Capa de la foto en administar estudiante*/
.mostrarFoto2{
    position: absolute;
    top: 96px;
    left: 173px;
    width: 154px;
    height: 167px;
    border: 1px;
    border-color: #000000;
    border-style: solid;
}
/**Capa del nombre*/
.mostrarNombre2{
    position: absolute;
    top: 128px;
    left: 340px;
    width: 349px;
    height: 50px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 24px;
}
/**Capa de la cedula*/
.mostrarCedula2{
    position: absolute;
    top: 183px;
    left: 340px;
    width: 349px;
    height: 50px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 18px;
}
/**Capa del telefono*/
.mostrarTelefono3{
    position: absolute;
    top: 210px;
    left: 340px;
    width: 349px;
    height: 50px;
    color: #001647;
    text-align: justify;
    font-family: HelveticaNegrita, HelveticaCondensada, "Helvetica LT Std";
    font-size: 18px;
}
/**Para el boton de ver todo*/
.botonVerTodo{
    position: absolute;
    top: 96px;
    left: 719px;
    background-image: url(../img/verTodo.png);
    background-repeat: no-repeat;
}
/**Para el boton de modificar*/
.botonModificar{
    position: absolute;
    top: 154px;
    left: 719px;
    background-image: url(../img/verTodo.png);
    background-repeat: no-repeat;
}
/**Para el boton de eliminar*/
.botonEliminar{
    position: absolute;
    top: 218px;
    left: 719px;
    background-image: url(../img/verTodo.png);
    background-repeat: no-repeat;
}
/**Para personalizar el selector de archivos*/
#archivo {
    display: none;
}
#botonSeleccion {
    background-color:#e6e6e6;
    background-image: url(../img/examinar.png);
    background-repeat: no-repeat;
    cursor:pointer;
    height: 27px;
    width: 84px;
    position: absolute;
    top: 336px;
    right: calc(50% - 27px);
}
#listaArchivo {
    position: absolute;
    top: 336px;
    right: calc(50% + 57px);
    width: 174px;
    height: 26px;
    border-color: #000000;
    border: 1px;
    border-style: solid;
    text-align: justify;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
    color: #000000;
}
/**Para crear el calendario emergente**/
/**Para el boton del calendario*/
.botonFecha{
    position: absolute;
    top: 229px;
    right: calc(50% - 27px);
    display: block;
    background: url(../img/calendario.png);
    border: 0;
    cursor: pointer;
    height: 28px;
    width: 29px;
    margin:8px 0 0 0;
}
/**Para el calendario*/
.calendario{
    margin:10px 0 30px 0; 
    border:solid 1px red; 
    width:205px; 
    height:230px;
    background-color: #FDFDFD;
    display: none;//es invisible por defecto
    position: absolute;
    left: 536px;
    top: 257px;
    z-index: 2;
}
/**Para la busqueda*/
.buscar{
    width: 256px;
    height: 26px;
    position: absolute;
    top: 250px;
    right: 68px;
    color: #C0C0C0;
    text-align: left;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
    font-style: italic;
}
/**Para el boton de busqueda*/
.botonBuscar{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 250px;
    right: 39px;
}
/**Para el boton de cambiar la clave*/
.botonModificarClave{
    width: 225px;
    height: 27px;
    position: absolute;
    top: 250px;
    left: 68px;
}
/**Para el boton de imprimir el listado*/
.botonImprimir{
    width: 225px;
    height: 27px;
    position: absolute;
    top: 296px;
    left: 68px;
}
/**Para la tabla dinamica*/
/**Titulos de las columnas*/
.titulosTabla{
    background-color: #EFCD09;
    color: #000000;
    text-align: center;
    font-family: HelveticaBlack, HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
    width: 208px;
    height: 23px;
    border: 1px;
    border-style: solid;
    border-color: #EFCD09;
}
/**Lineas pares*/
.lineaPar{
    background-color: #CBD0DC;
    color: #000000;
    text-align: left;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Lineas pares*/
.lineaImpar{
    background-color: #FFFBE4;
    color: #000000;
    text-align: left;
    font-family: HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
}
/**Para la tabla de resultados*/
.tabla{
    position: absolute;
    top: 338px;
    left: 34px;
    right: 34px;
    width: 1111px;
}
/**Para la barra azul*/
.barra4{
    background-color: #001A55;
    height: 4px;
    width: 100%;
    min-width: 1180px;
    max-width: 100%;
    top: 208px;
    left: 0px;
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 1;
}
/**Para la barra dorada*/
.barra5{
    background-color: #EFCD09;
    height: 6px;
    width: 100%;
    min-width: 1180px;
    max-width: 100%;
    top: 217px;
    left: 0px;
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 1;
}
/**Para los iconos*/
.iconosTabla{
    background-color: #EFCD09;
    color: #000000;
    text-align: center;
    font-family: HelveticaBlack, HelveticaCondensada, "Helvetica LT Std";
    font-size: 14px;
    width: 48px;
    height: 23px;
}
/**Para las celdas*/
.celda{
    border-spacing: 1px;
}
/**Para la capa de clave satisfactoria*/
.cambioAceptado{
    width: 592px;
    height: 190px;
    position: absolute;
    top: 307px;
    left: calc(50% - 296px);
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/sucessClave.png);
    background-repeat: no-repeat;
}
.mensaje{
    color: #FFFFFF;
    text-align: right;
    font-family: HelveticaBlack, HelveticaCondensada, "Helvetica LT Std";
    font-size: 18px;
}
/**Para el enlace de salida del cambio de clave correcto*/
.enlace2{
    position: absolute;
    top: 100px;
    left: 372px;
}
.capaCriterioBusqueda{
    display: none;
    width: 256px;
    height: 26px;
    position: absolute;
    top: 278px;
    right: 68px;
}
