/*Hoja de estilos princial
*/
/* 
    Created on : 18-sep-2015, 15:49:44
    Author     : Ricardo Presilla
*/
/*Encabezado de la pagina*/
.encabezado{
    background-color: #FFFFFF;
    height: 208px;
    width: 100%;
    top: 0%;
    margin: 0%;
    padding: 0%;
    position: absolute;
    min-height: 80px;
    overflow: hidden;
    opacity: 1;
    z-index: 1;
}
/**Para la barra azul*/
.barra{
    background-color: #001A55;
    height: 4px;
    width: 100%;
    top: 208px;
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 1;
}
/**Para la barra dorada*/
.barra2{
    background-color: #EFCD09;
    height: 6px;
    width: 100%;
    top: 217px;
    margin: 0%;
    padding: 0%;
    position: absolute;
    z-index: 1;
}
/**Para el logo*/
.logo{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0%;
    top: 56px;
    left: 0px;
    width: 116px;
    height: 99px;
    position: absolute;
    min-width: 116px;
    min-height: 99px;
    vertical-align: middle;
    z-index: 2;    
}
/*Para el membrete*/
.membrete{
    color: #001A55;
    text-align: center;
    font-family: "MoolBoran Regular", sans-serif;
    font-size: 48px;
    height: 208px;
    width: 690px;
    left: 147px;
    top: 95px;
    position: absolute;
    z-index: 2;
}
/*Para el membrete*/
.membrete1{
    color: #001A55;
    text-align: center;
    font-family: "MoolBoran Regular", sans-serif;
    font-size: 36px;
    height: 208px;
    width: 690px;
    left: 147px;
    top: 65px;
    position: absolute;
    z-index: 2;
}
/**Cuerpo de la pagina*/
main{
    background-color: #FDFDFD;
    margin: 0%;
    padding: 0%;
    width: 100%;
}
/*Pie de página del desarrollador*/
.pie{
    width: 100%;
    height: 88px;
    top: 690px;
    bottom: 0px;
    position: absolute;
    background-image: url(../img/pie2.png);
    background-repeat: repeat-x;
    z-index: 2;
}
.pie2{
    background-color: #E4E4E4;
    width: 100%;
    height: 88px;
    top: 690px;
    left: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url(../img/pie2.png);
    background-repeat: repeat-x;
    z-index: 1;
}
.logo2{
    width: 149px;
    height: 81px;
    top: 697px;
    left: calc(50% - 75px);
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    background-image: url(../img/pie.png);
    background-repeat: no-repeat;
    z-index: 3;
}
/**Para la capa del login*/
.capaLogin{
    width: 751px;
    height: 144px;
    position: absolute;
    top: 307px;
    left: calc(50% - 376px);
    margin-left: auto;
    margin-right: auto;
    border-color: #FFFFFF;
    border: 6px;
    background-image: url(../img/formulario.png);
    background-repeat: no-repeat;
    z-index: 1;
}
/***/
.bienvenida{
    position: absolute;
    top: 23px;
    left: 304px;
    color: #000000;
    text-align: center;
    font-family: "Helvetica LT Std Cond Blk", "Helvetica LT Std";
    font-size: 12px;
}
/**Para la clave del login*/
.clave{
    float: left;
    position: absolute;
    top: 72px;
    left: 248px;
    width: 258px;
    height: 26px;
}
/**Para el boton de aceptar*/
.botonAceptar{
    float: left;
    position: absolute;
    top: 72px;
    left: 544px;
    width: 123px;
    height: 27px;
}
/**Para el error del login*/
.errorLogin{
    width: 590px;
    height: 190px;
    position: absolute;
    top: 307px;
    left: calc(50% - 290px);
    margin-left: auto;
    margin-right: auto;
    border-color: #FFFFFF;
    border: 6px;
    background-image: url(../img/errorLogin.png);
    background-repeat: no-repeat;
    z-index: 1;
}
/**Para el enlace de salida del error login*/
.enlace1{
    position: absolute;
    top: 104px;
    left: 360px;
}
/**Para el cambio de clave*/
.cambioClave{
    width: 493px;
    height: 286px;
    position: absolute;
    top: 307px;
    left: calc(50% - 221px);
    margin-left: auto;
    margin-right: auto;
    border-color: #FFFFFF;
    border: 6px;
    background-image: url(../img/CambioClave-Profesor.png);
    background-repeat: no-repeat;
    z-index: 1;
}
/***/
.cAnterior{
    position: absolute;
    top: 82px;
    left: 119px;
    width: 258px;
    height: 25px;
}
/***/
.cNueva{
    position: absolute;
    top: 131px;
    left: 119px;
    width: 258px;
    height: 25px;
}
/***/
.cConfirmar{
    position: absolute;
    top: 182px;
    left: 119px;
    width: 258px;
    height: 25px;
}
/**Para el boton de aceptar*/
.botonAceptar2{
    float: left;
    position: absolute;
    top: 239px;
    right: 27px;
    width: 123px;
    height: 27px;
}
/**Para el titulo del cambio de clave*/
.texto1{
    position: absolute;
    top: 15px;
    left: 168px;
    color: #000000;
    text-align: center;
    font-family: "Helvetica LT Std Cond Blk", "Helvetica LT Std";
    font-size: 14px;
}
/**Para la primera linea de texto*/
.texto2{
    position: absolute;
    top: 62px;
    left: 120px;
    color: #000000;
    text-align: center;
    font-family: "Helvetica LT Std Cond", "Helvetica LT Std";
    font-size: 14px;
}
/**Para la segunda linea de texto*/
.texto3{
    position: absolute;
    top: 114px;
    left: 120px;
    color: #000000;
    text-align: center;
    font-family: "Helvetica LT Std Cond", "Helvetica LT Std";
    font-size: 14px;
}
/**Para la tercera linea de texto*/
.texto4{
    position: absolute;
    top: 165px;
    left: 120px;
    color: #000000;
    text-align: center;
    font-family: "Helvetica LT Std Cond", "Helvetica LT Std";
    font-size: 14px;
}
/**Para el error de la base de datos*/
.errorBaseDatos{
    width: 590px;
    height: 190px;
    position: absolute;
    top: 307px;
    left: calc(50% - 290px);
    margin-left: auto;
    margin-right: auto;
    border-color: #FFFFFF;
    border: 6px;
    background-image: url(../img/errorLogin.png);
    background-repeat: no-repeat;
    z-index: 1;
}
/***/
.ingresarCedula{
    width: 751px;
    height: 144px;
    position: absolute;
    top: 307px;
    left: calc(50% - 376px);
    margin-left: auto;
    margin-right: auto;
    border-color: #FFFFFF;
    border: 6px;
    background-image: url(../img/ingresarCI.png);
    background-repeat: no-repeat;
    z-index: 1;
}